<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>検索結果（FIN007）</title>
    <link rel="stylesheet" href="css/style.css"> 
</head>
<body class="fin007">

    <div class="fin007-title-bar">
        <h2>検索結果</h2>

        <a href="FIN008.html" class="page-menu-icon fin007-menu-icon">😊</a>
    </div>

    <div class="fin007-results-container">

        <%# EJSわかんね～～～～～ %>
        
        <!--

        ループで取り出そうとして頑張ってた部分　後で消す

        <% if (Array.isArray(shop)) { %>
            <% shop.forEach(item => { %>
                <table>
                    <tr>
                        <th>shop_id</th>
                        <th>shop_name</th>
                        <th>budget</th>
                        <th>distance</th>
                        <th>genre</th>
                        <th>photo_address</th>
                        <th>address</th>
                        <th>googlemap_link</th>
                    </tr>
                    <tr>
                        <td><%= item.shop_id %></td>
                        <td><%= item.shop_name %></td>
                        <td><%= item.budget %></td>
                        <td><%= item.distance %></td>
                        <td><%= item.genre %></td>
                        <td><%= item.photo_address %></td>
                        <td><%= item.address %></td>
                        <td><%= item.googlemap_link %></td>
                    </tr>
                </table>
            <% }) %>
        <% } else { %>
            <p>データがありません。</p>
        <% } %>
        
        -->
        
        <% shop.forEach(item => { %>
        <div class="fin007-result-item">
            <span class="fin007-result-info"><%= item.shop_name %> 徒歩<%= item.distance %>分 予算：<%= item.budget %>円</span>
            <span class="fin007-result-star">★</span>
        </div>
        <% }); %>


        <div class="fin007-result-item">
            <span class="fin007-result-info">店名 徒歩○分 1000円〜1400円</span>
            <span class="fin007-result-star">★</span>
        </div>

        <div class="fin007-result-item">
            <span class="fin007-result-info">店名 徒歩○分 1000円〜1400円</span>
            <span class="fin007-result-star">★</span>
        </div>

        <div class="fin007-result-item">
            <span class="fin007-result-info">店名 徒歩○分 1000円〜1400円</span>
            <span class="fin007-result-star">★</span>
        </div>

        <div class="fin007-pagination">
            <span class="fin007-page-item active">1</span>
            <a href="#" class="fin007-page-item">2</a>
            <a href="#" class="fin007-page-item">3</a>
            <span class="fin007-page-item dots">...</span>
        </div>

    </div>

    <a href="/search" class="fin007-change-criteria-btn">
        条件<br>を変える
    </a>
    </body>
</html>